body {
    background-color: #FFFFFF;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    width: 100%;

    .header {
        height: 100px;
        width: 100%;
        background-color: black;// rgb(207, 92, 207, .4);
        display: flex;
        font-family: sans-serif;

        .brand {
            display: flex;
            align-items: center;
            width: 50%;

            h1 {
                font-size: 22px; 
                color: white;
                text-transform: uppercase;
                margin-left: 10%;
            }
        }

        .social-media {
            display: flex;
            position: relative;
            width: 50%;

            ul {
                display: flex;
                align-items: center;
                width: 100%;
                justify-content: space-evenly;
                

                li {

                    i {
                        font-size: 30px;
                    }  

                    .face {
                        color: #1877f2;

                            &:hover {
                                color: red;
                            }                            
                    }    

                    .tt {
                        color: rgb(29, 155, 240);

                        &:hover {
                            color: red;
                        }    
                            
                    }

                    .insta {
                        color: #C13584;

                        &:hover {
                            color: red;
                        }      

                    }

                    .linkedin {
                        color: #0A66C2;

                        &:hover {
                            color: red;
                        }     

                    }

                    .github {
                        color: white;

                        &:hover {
                            color: red;
                        }      

                    }

                }

            }

        }

    }
    
    .introduction-section{
        display: flex;
        justify-content: center;

        .introduction {
            display: flex;
            align-items: center;
            padding: 20px;
            width: 80%;
            margin-top: 5%;
            border-radius: 4px;
            box-shadow: 0 5px 15px rgba(0,0,0,.5);

                &:hover {
                    box-shadow: 0px 20px 30px rgba(0,0,0,.5);
                }
        
            .introduction-img {
                flex-basis: 250px;
                flex-shrink: 2;
                margin-left: 5%;
            }
                img {
                    max-width: 100%;
                }

            .introduction-content {
                margin-left: 5%;
                margin-top: 0px;
                width: 40%;

                h2 {
                    margin-top: 2%;
                    font-size: 36px;
                    text-align: justify;
                }

                p {
                    padding: 10px 0 0;
                    margin-top: 2%;
                    font-size: 18px;
                    word-spacing: 2px;
                    line-height: 26px;
                }
            }
        }
    }

    .skills-title {
        margin-top: 15%;
        font-size: 36px;
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;

    }

    .container {
        margin-top: 4%;
        width: 100%;

        .skills-ul {
            width: 100%;
            margin-top: 5%;
            
            ul {
                display: flex;
                justify-content: space-around;
                align-items: center;

                li {
                    font-size: 16px;

                    p {
                        color: #6c757d;
                        margin-top: 15%;
                    }

                    #teamwork {
                        color: #04C2C9;
                        font-size: 80px;
                        margin-left: 20%;
                    }
                    
                    #english {
                        color: #04C2C9;
                        font-size: 80px;
                        margin-left: 20%;
                    }
                }
            }
        }
        
    }
    
    .technologies {

        .ul-1 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-wrap: wrap;

            li { 
                margin-top: 5%; 
                width: auto;
            }
        }

        .ul-2 {
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: flex-start;
            flex-wrap: wrap;

            li {        
                margin-top: 5%; 
                width: auto;
            }
        }
      }
    
}       




@media (max-width: 420px) {
    .introduction {
        flex-direction: column;
        width: 70%;

        .introduction-content {
            margin-top: 0;                  
            padding: 0;      

            h2 {      
                margin-left: 5%;
                font-size: 22px;
            }
        }
    }
}

