html {
    --background: #FCFCFC;
    --cortitulo: #000000;
    --cortexto: #333333;
    --header: #000000;
}

body {
    background-color: var(--background);
}

header {
    background: var(--header);
}

.imagem {
    border-color: rgb(0, 0, 0);
    border-width: 0;
    border-style: solid;
    border-radius: 180px;
    padding: 15px;
}

.box {
    text-align: center;
}

body p {
    color: var(--cortexto);
}

body h2 {
    color: var(--cortitulo);
}