html {
    --background: #FCFCFC;
    --cortitulo: #000000;
    --cortexto: #333333;
    --header: #000000;
}

body {
    background-color: var(--background);
}

header {
    background: var(--header);
}

.imagem {
    border-color: rgb(0, 0, 0);
    border-width: 0;
    border-style: solid;
    border-radius: 180px;
    padding: 15px;
}

.box {
    text-align: center;
}

body p {
    color: var(--cortexto);
}

body h2 {
    color: var(--cortitulo);
}


nav {
    text-align: center;
    padding: 15px;
   
}

nav li {
    display: inline;
    margin: 0 0 0 20px;
}

nav a {
    text-transform: uppercase;
    color: white;
    font-size: 25px;
    text-decoration: none;
}

nav a:hover {
    color: gold;
    font-size: 28px;
}

nav a:active {
    color: darkgoldenrod;
}

.conteudo {
    width: 600px;
    margin: 100px auto;
    border: 1px solid #000000;
}

.itens input {
    display: none;

}

.itens label {
    display: block;
    border: 1px solid #000000;
    background: #cccccc;
    cursor: pointer;
    padding: 5px 3px;
}

.accordion-conteudo {
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    -ms-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    font-size: 35px;
}


#accordion-a:checked ~ .accordion-conteudo {
    height: 100px;
}

#accordion-b:checked ~ .accordion-conteudo {
    height: 100px;
}

#accordion-c:checked ~ .accordion-conteudo {
    height: 100px;
}

main label {
    font-size: 40px;
}

footer {
    text-align: center;
    background: url(rodape.jpg);
}

footer p {
    padding: 125px 0 0 0;
    color: darkgray;
}
