body {
  background-color: #FFFFFF;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  width: 100%;
}
body .responsive {
  width: 100%;
  height: auto;
}
body .header {
  height: 100px;
  width: 100%;
  background-color: black;
  display: flex;
  font-family: sans-serif;
}
body .header .brand {
  display: flex;
  align-items: center;
  width: 50%;
}
body .header .brand h1 {
  font-size: 1.5vw;
  color: white;
  text-transform: uppercase;
  margin-left: 10%;
}
body .header .social-media {
  display: flex;
  position: relative;
  width: 50%;
}
body .header .social-media ul {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
body .header .social-media ul li i {
  font-size: 2vw;
}
body .header .social-media ul li .face {
  color: #1877f2;
}
body .header .social-media ul li .face:hover {
  color: red;
}
body .header .social-media ul li .tt {
  color: #1d9bf0;
}
body .header .social-media ul li .tt:hover {
  color: red;
}
body .header .social-media ul li .insta {
  color: #C13584;
}
body .header .social-media ul li .insta:hover {
  color: red;
}
body .header .social-media ul li .linkedin {
  color: #0A66C2;
}
body .header .social-media ul li .linkedin:hover {
  color: red;
}
body .header .social-media ul li .github {
  color: white;
}
body .header .social-media ul li .github:hover {
  color: red;
}
body .main-title {
  margin-top: 5%;
  font-size: 2.5vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
body .introduction-section {
  display: flex;
  justify-content: center;
}
body .introduction-section .introduction {
  display: flex;
  align-items: center;
  padding: 20px;
  width: 80%;
  margin-top: 5%;
  border-radius: 4px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
body .introduction-section .introduction:hover {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.5);
  transition: 1s;
}
body .introduction-section .introduction .introduction-img {
  flex-basis: 250px;
  flex-shrink: 2;
  margin-left: 5%;
}
body .introduction-section .introduction img {
  max-width: 100%;
}
body .introduction-section .introduction .introduction-content {
  margin-left: 5%;
  margin-top: 0px;
  width: 40%;
}
body .introduction-section .introduction .introduction-content h2 {
  margin-top: 2%;
  font-size: 1.5vw;
  text-align: justify;
}
body .introduction-section .introduction .introduction-content p {
  padding: 10px 0 0;
  margin-top: 2%;
  font-size: 1vw;
  word-spacing: 2px;
}
body .section-title {
  margin-top: 15%;
  font-size: 2.5vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
}
body .section-1 {
  margin-top: 4%;
  width: 100%;
}
body .section-1 .skills-ul {
  width: 100%;
  margin-top: 5%;
}
body .section-1 .skills-ul ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body .section-1 .skills-ul ul li {
  font-size: 1vw;
}
body .section-1 .skills-ul ul li p {
  color: #6c757d;
  margin-top: 15%;
}
body .section-1 .skills-ul ul li #teamwork {
  color: #04C2C9;
  font-size: 5.5vw;
  margin-left: 20%;
}
body .section-1 .skills-ul ul li #english {
  color: #04C2C9;
  font-size: 5.5vw;
  margin-left: 20%;
}
body .section-2 {
  width: 100%;
}
body .section-2 .technologies {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  justify-content: center;
}
body .section-2 .technologies .ul-1 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
body .section-2 .technologies .ul-1 li {
  margin-top: 5%;
}
body .section-2 .technologies .ul-1 li img {
  width: 6vw;
}
body .section-2 .technologies .ul-2 {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
body .section-2 .technologies .ul-2 li {
  margin-top: 5%;
}
body .section-2 .technologies .ul-2 li img {
  width: 6vw;
}
body .section-3 {
  width: 100%;
  margin-top: 5%;
}
body .section-3 h2 {
  font-size: 2.5vw;
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
}
body .section-3 .cards {
  margin-top: 4%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
body .section-3 .cards .card {
  width: 15%;
  background: #fdfdfd;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  height: auto;
  padding: 10px;
  margin-bottom: 10px;
  transition: 1s;
}
body .section-3 .cards .card:hover {
  transform: scale(1.1);
  transition: 500ms;
}
body .section-3 .cards .card .card-text {
  font-size: 1.2vw;
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-top: 5%;
}
body .section-3 .cards .card p {
  font-size: 1vw;
  text-align: center;
  width: 80%;
  margin-top: 5%;
}
body .section-3 .cards .card .btn-div {
  height: 100%;
  margin-top: 20%;
  margin-bottom: 5%;
}
body .section-3 .cards .card .btn-div .btn {
  height: auto;
  width: 100%;
  text-decoration: none;
  padding: 0.4vw;
  color: #FFFF;
  background: #406deb;
  border-radius: 20px;
  transition: 1s;
  font-size: 1vw;
}
body .section-3 .cards .card .btn-div .btn:hover {
  background-color: #1a06d3;
  transition: 0.5s;
}
body .contato {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
body .contato .form {
  padding: 20px;
  background-color: #FFFFFF;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}
body .contato .form .row {
  padding: 10px;
}
body .contato .form .input {
  width: 100%;
  padding: 5px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1vw;
  font-family: "Montserrat", sans-serif;
}
body .contato .form .input:focus {
  outline-color: #2196F3;
}
body .contato .form textarea {
  width: 100%;
  height: 150px;
  padding: 8px;
  border: 1px solid #CCCCCC;
  border-radius: 5px;
  font-size: 1vw;
  resize: none;
  font-family: "Montserrat", sans-serif;
}
body .contato .form textarea:focus {
  outline-color: #2196F3;
}
body .contato .form .btn-form {
  width: 100%;
  padding: 8px;
  background-color: #3F51B5;
  color: #FFFFFF;
  border: 1px solid #CCCCCC;
  border-radius: 8px;
  transition: 1s;
}
body .contato .form .btn-form:hover {
  background-color: #1a06d3;
  transition: 0.5s;
}

@media (max-width: 720px) {
  .cards {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
